@font-face {
  font-family: "KarlaLight";
  src: url(../fonts/Karla-Light.ttf);
}

@font-face {
  font-family: "KarlaMedium";
  src: url(../fonts/Karla-Medium.ttf);
}

@font-face {
  font-family: "KarlaRegular";
  src: url(../fonts/Karla-Regular.ttf);
}

@font-face {
  font-family: "KarlaSemiBold";
  src: url(../fonts/Karla-SemiBold.ttf);
}

@font-face {
  font-family: "MerriweatherBold";
  src: url(../fonts/Merriweather_24pt-Bold.ttf);
}

@font-face {
  font-family: "MerriweatherMedium";
  src: url(../fonts/Merriweather_24pt-Medium.ttf);
}

@font-face {
  font-family: "MerriweatherRegular";
  src: url(../fonts/Merriweather_24pt-Regular.ttf);
}

:root {
  --primary-color: #000000;
  --secondary-color: #000000;
  --tertiary-color: #000000;
  --light-color: #000000;
  --dark-color: #000000;
  --accent-color: #000000;
  --background-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'KarlaRegular';
  font-size: 16px;
}

h1 {
  font-family: 'MerriweatherRegular';
  font-size: 48px;
}

h2 {
  font-family: 'MerriweatherRegular';
  font-size: 36px;
}

h3 {
  font-family: 'KarlaSemiBold';
  font-size: 30px;
}

h4 {
  font-family: 'KarlaSemiBold';
  font-size: 20px;
}

/* På tablet og Desktop */
@media (width > 600px) {
  .grid_1x8 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }


  .grid_row_1x3 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
  }

  .desk-col-2 {
    grid-column: span 2;
  }

  .desk-col-3 {
    grid-column: span 3;
  }

  .desk-col-4 {
    grid-column: span 4;
  }

  .desk-col-5 {
    grid-column: span 5;
  }

  .disk-row-2 {
    grid-row: span 2;
  }
}

footer {
  background-color: black;
}

/* På mobil */
@media (width <= 600px) {
  .reverse-order-phone {
    order: 0;
  }
}
