main {
  margin-top: 80px;
  margin-bottom: 150px;
}

.media-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px;
}

.media-card {
  width: 280px;
  height: 440px;
  background-color: #fffefe;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.5;
  transition: all 0.3s ease;
  transform: translateY(0);
  display: flex;
  flex-direction: column;
}

.media-card:hover {
  opacity: 1;
  transform: translateY(-10px) scale(1.2);
  z-index: 1;
}

.media-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.media-card h4 {
  font-family: KarlaRegular;
  margin-top: 2px;
  margin-bottom: 10px;
}

.media-card p {
  font-family: KarlaLight;
  font-size: 18px;
  color: black;
  margin-bottom: 20px;
}

.media-button {
  display: inline-block;
  background-color: #36454f;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  transition: background-color 0.3s;
  margin-top: auto;
}

.media-button:hover {
  background-color: #eef2f4;
  color: black;
}

.info-box {
  background-color: #eef2f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 100px;
  padding: 20px;
  margin-left: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-box p {
  font-family: KarlaLight;
  font-size: 18px;
}

h1 {
  font-family: MerriweatherRegular;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .info-box {
    margin-left: 2px;
    width: 350px;
    height: 120px;
  }
}
