@font-face {
	font-family: "KarlaLight";
	src: url(../fonts/Karla-Light.ttf);
}

@font-face {
	font-family: "MerriweatherBold";
	src: url(../fonts/Merriweather_24pt-Bold.ttf);
}

@font-face {
	font-family: "KarlaSemiBold";
	src: url(../fonts/Karla-SemiBold.ttf);
}

img {
	max-width: 100%;
}

body {
	background-color: #f0ebe3;
}

h1 {
	font-family: MerriweatherBold;
}

h3 {
	font-family: KarlaSemiBold;
}

p {
	font-family: KarlaLight;
}

button {
	font-family: KarlaSemiBold;
	background-color: #3e4d53;
	border-radius: 15px;
	width: 219px;
	height: 61px;
	font-size: 20px;
}

a {
	color: white;
	text-decoration: none;
}

@media (width > 600px) {
	.grid_1x8 {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
	}

	/* .desk-row-4 {
		grid-row: span 4;
	} */

	.desk-col-tekst-4 {
		grid-column: span 4;
		background-color: #f8f5f0;
		width: fit-content;
		block-size: fit-content;
		border-radius: 15px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding: 10px;
	}

	.desk-col-tekst-4:nth-child(2) {
		background-color: #eef2f4;
	}

	.desk-col-img-4 {
		grid-column: span 4;
	}
}

/* På mobil */
@media (width <= 600px) {
	.grid_1x8 {
		display: flex;
		flex-direction: column;
	}

	.desk-col-img-4 {
		order: 2;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.desk-col-tekst-4 {
		order: 1;
		background-color: #f8f5f0;
		width: fit-content;
		block-size: fit-content;
		border-radius: 15px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		padding: 10px;
	}

	.desk-col-tekst-4:nth-child(2) {
		background-color: #eef2f4;
	}
}
